@import url(./mixins.scss);
@import url(./variables.scss);

header{
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
  
        z-index: 1;
  
        -webkit-user-select: none;
        user-select: none;
        a{
            text-decoration: none;
            color: #232323;
  
            transition: color 0.3s ease;
        }
        input{
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
  
            cursor: pointer;
  
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
  
            -webkit-touch-callout: none;
        }
    }
}