/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.footerinfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hrspoon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/footer/img-ng-footer.jpg?raw=true");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 75vh;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer ul, footer p {
  color: rgb(150, 150, 150);
  font-family: "Open Sans";
  font-size: small;
}
footer ul li {
  line-height: 200%;
}
footer h1 {
  color: white;
  margin-bottom: 30px;
  font-family: "Cinzel";
  font-size: larger;
}

.footerinfo .footerinfoicone {
  color: #b5a172;
  margin-right: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
}

.footer-infos-sup {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  height: auto;
  margin-top: 3%;
}

.footerinfo:nth-child(1),
.footerinfo:nth-child(2),
.footerinfo:nth-child(4) {
  width: 15%;
}

.footerinfo:nth-child(3) {
  width: 35%;
}
.footerinfo:nth-child(3) p {
  padding-right: 25%;
  margin-top: 0;
}

input[type=email] {
  border: 1px solid #cccccc;
  border-radius: 0px;
  width: 250px;
  height: 35px;
  margin-top: 20px;
}

button[type=submit] {
  background-color: rgb(181, 161, 115);
  color: #ffffff;
  border: solid 1px rgb(181, 161, 115);
  border-radius: 0px;
  height: 35px;
  width: 35px;
  margin-top: 20px;
  cursor: pointer;
}

.footer-infos-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px black solid;
  font-size: small;
}

.footer-medias-list li {
  display: inline;
  margin-left: 5px;
}
.footer-medias-list button {
  border-radius: 100px;
  width: 1.75rem;
  height: 1.75rem;
  background-color: rgb(97, 97, 97);
  border: 1px solid rgb(97, 97, 97);
  text-align: center;
}
.footer-medias-list button:hover {
  background-color: rgb(181, 161, 115);
  border-color: rgb(181, 161, 115);
}

.hrspoon hr {
  margin-top: 5%;
  width: 80vw;
  border-radius: 2px;
  border: 0.5px solid rgb(150, 150, 150);
  z-index: 1;
  opacity: 0.5;
}
.hrspoon .spoon {
  margin-top: -1.5em;
  height: 5em;
  width: auto;
  margin-bottom: -1.5em;
  z-index: 2;
}

.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section7-upper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
}
.section7-upper .text-bg {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: "Cinzel";
  color: #FAF6F0;
  font-size: 1100%;
  font-weight: bolder;
  z-index: 1;
}
.section7-upper .section7titre {
  text-align: center;
  width: 100%;
  z-index: 2;
}
.section7-upper .section7titre h2 {
  font-family: "Cinzel";
  font-size: 40px;
}
.section7-upper .section7titre p {
  font-family: "Open Sans";
  font-weight: 300;
}

.section7articles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
}

.article {
  width: 32%;
  height: auto;
  background-color: #FAF6F0;
  margin-top: 3%;
}
.article img {
  width: 100%;
}
.article li {
  display: inline;
  margin-right: 10px;
}
.article i {
  vertical-align: auto;
  margin-right: 5px;
}
.article h1 {
  font-family: "Forum";
  font-size: x-large;
}
.article h1, .article ul, .article button {
  margin-top: 7.5%;
  margin-left: 5%;
  margin-right: 5%;
}
.article button {
  margin-bottom: 10%;
  font-weight: 600;
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 5px;
  height: 50px;
  width: 150px;
}
.article button:hover {
  background-color: rgb(232, 177, 119);
  border: #C19769 1px solid;
  color: #ffffff;
}
.article button i {
  margin-left: 5px;
}

.section7logo {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.section7logo ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10%;
}
.section7logo li {
  display: inline;
}

@media (max-width: 928px) {
  .section7-upper .text-bg {
    font-size: 700%;
    text-align: center;
    color: #FAF6F0;
  }
  .section7articles {
    width: 90%;
  }
  .section7articles .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section7articles .article ul {
    margin-top: 7.5%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .section7articles .article h1 {
    font-size: large;
    text-align: center;
  }
  .section7articles .article button {
    width: 100px;
  }
  .section7articles .article .section7-button {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section7articles .article .section7credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section7logo img {
    width: 75%;
  }
}
@media (max-width: 425px) {
  .section7-upper .text-bg {
    font-size: 400%;
    text-align: center;
  }
  .section7articles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .section7articles .article {
    width: 70%;
  }
  .section7logo {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section7logo img {
    width: 80%;
  }
  .section7logo ul {
    width: 100%;
  }
  .section7logo li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
  }
}
.section6 {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/our-chefs/imgbg-ourchefs.jpg?raw=true");
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section6-upper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
}
.section6-upper .text-bg {
  position: absolute;
  text-align: start;
  width: 100%;
  font-family: "Cinzel";
  color: #101010;
  font-size: 1100%;
  font-weight: bolder;
  z-index: 1;
}
.section6-upper .section6titre {
  text-align: center;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 2;
}
.section6-upper .section6titre h2 {
  font-family: "Cinzel";
  font-size: 40px;
}
.section6-upper .section6titre p {
  font-family: "Open Sans";
  font-weight: 300;
}

.chefs {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 15%;
  width: 80%;
}
.chefs ul {
  display: flex;
  justify-content: space-between;
}
.chefs li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chefs li img {
  width: 95%;
}

@media (max-width: 928px) {
  .section6-upper .text-bg {
    font-size: 600%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .section6-upper .text-bg {
    font-size: 400%;
    text-align: center;
  }
  .section6-upper .section6titre h2 {
    font-size: 250%;
  }
  .chefs {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chefs img {
    width: 100%;
  }
  .chefs ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .chefs li {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}
.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section5-upper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.section5-upper .text-bg {
  position: absolute;
  text-align: start;
  width: 100%;
  font-family: "Cinzel";
  color: #FAF6F0;
  font-size: 1100%;
  font-weight: bolder;
  z-index: 1;
}
.section5-upper .section5titre {
  text-align: center;
  width: 100%;
  z-index: 2;
}
.section5-upper .section5titre h2 {
  font-family: "Cinzel";
  font-size: 40px;
}
.section5-upper .section5titre p {
  font-family: "Open Sans";
  font-weight: 300;
}

.section5-grid {
  width: 80%;
  height: 700px;
  margin-bottom: 5%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.section5-grid .section5-carte {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10%;
  color: transparent;
  transition: background-color 0.5s;
}
.section5-grid .section5-carte:hover {
  opacity: 0.75;
  color: #FFFFFF;
  background-color: #000000;
}
.section5-grid .section5-carte h1 {
  font-family: "Forum";
  font-size: xx-large;
  font-weight: 900;
}
.section5-grid .section5-carte h2 {
  font-family: "Forum";
  font-size: x-large;
}
.section5-grid .section5-carte:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img1gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.section5-grid .section5-carte:nth-child(2) {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img2gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.section5-grid .section5-carte:nth-child(3) {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img3gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.section5-grid .section5-carte:nth-child(4) {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img4gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.section5-grid .section5-carte:nth-child(5) {
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img5gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}
.section5-grid .section5-carte:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url("https://github.com/becodeorg/hamilton-8-kababi-ilias-jerome/blob/main/img/gallery/img6gallerybox.jpg?raw=true");
  background-size: cover;
  background-position: center;
}

button {
  background-color: #FFFFFF;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
  font-family: "Open sans";
  height: 50px;
  width: 200px;
  margin-bottom: 25%;
}
button i {
  margin-left: 10px;
}

@media (max-width: 928px) {
  .section5-upper .text-bg {
    font-size: 600%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .section5-upper .text-bg {
    font-size: 400%;
    text-align: center;
  }
  .section5-upper .section5titre h2 {
    font-size: 250%;
  }
  .section5-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FAF6F0;
}

.section4-bread-bg-picture {
  background-color: transparent;
  width: 100%;
  height: 156%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 25%;
  z-index: 2;
}

.section4-meat-bg-picture {
  background-color: transparent;
  width: 100%;
  height: 136%;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: end;
  z-index: 1;
}

.section4-upper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.section4-upper .text-bg {
  position: absolute;
  text-align: start;
  width: 100%;
  font-family: "Cinzel";
  color: #f1e9de;
  font-size: 1100%;
  font-weight: bolder;
  z-index: 4;
}
.section4-upper .section4titre {
  text-align: center;
  width: 100%;
  z-index: 5;
}
.section4-upper .section4titre h2 {
  font-family: "Cinzel";
  font-size: 40px;
}
.section4-upper .section4titre p {
  font-family: "Open Sans";
  font-weight: 300;
}

.section4-grid {
  display: grid;
  gap: 20px;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 25%;
  z-index: 3;
}
.section4-grid .section4-carte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #FFFFFF;
  border: transparent 2px dashed;
  border-radius: 5px;
}
.section4-grid .section4-carte:hover {
  border: #c8a779 2px dashed;
}

.section4foodname {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.section4foodname h1 {
  font-family: "Forum";
  font-size: x-large;
}
.section4foodname h2 {
  font-family: "Forum";
  font-size: medium;
}

.section4price {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  color: #c8a779;
  font-family: "Forum";
  font-size: xx-large;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-right: 5%;
}

* {
  margin: 0;
}
* a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
* ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
* button {
  all: unset;
  cursor: pointer;
}

header {
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%), url("./img/slider/img_bg_slider_home01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: white;
}
header a {
  color: #FFF;
}
header #container {
  margin: 0 auto;
  max-width: 890px;
}
header .toggle, header [id^=drop] {
  display: none;
}
header nav {
  margin: 0;
  padding: 0;
  background-color: #254441;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
header #logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}
header nav:after {
  content: "";
  display: table;
  clear: both;
}
header nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
header nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #254441;
}
header nav a {
  display: block;
  padding: 14px 20px;
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
}
header nav ul li ul li:hover {
  background: #ee3f3f;
}
header nav a:hover {
  background-color: #f59999;
}
header nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
header nav ul li:hover > ul {
  display: inherit;
}
header nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
header nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}
header nav .book {
  padding-left: 150px;
  display: block;
  justify-content: space-between;
}
header nav .book button {
  margin-left: 30px;
}
header nav li > a:after {
  content: " +";
}
header nav li > a:only-child:after {
  content: "";
}
header .slider {
  width: 12.5vw;
  position: relative;
  top: 20vh;
  left: 35vw;
}
header section {
  position: relative;
  left: 15vw;
  top: -10vh;
  width: 70vw;
}
header section .best {
  font-size: 100px;
  width: 40vw;
}
header section .explore {
  border: solid 1px white;
  font-size: small;
  border-radius: 5px;
  padding: 1% 2%;
  margin-top: 2vh;
}

/*main{
    .category{
        text-align: center;
        ul{
            display: flex;
            justify-content: space-between;
            margin: 5px;
            li{
                a{
                    button{
                        background-color: greenyellow;
                        height: 10rem;
                        justify-content: space-between;
                        .cat-img{
                            width: 50px;
                            margin: 15px;
                        }
                    }
                }
            }
        }
    }
}*/
@media only screen and (max-width: 768px) {
  header section .best {
    font-size: 75px;
  }
  .book {
    display: none;
  }
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  nav {
    display: block;
    margin: 0;
  }
  .toggle + a, .menu {
    display: none;
  }
  .toggle {
    display: block;
    background-color: #3effec;
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }
  .toggle:hover {
    background-color: #000000;
  }
  [id^=drop]:checked + ul {
    display: block;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul ul .toggle, nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
  }
  nav a:hover {
    background-color: #ff4949;
  }
  nav ul ul ul a {
    background-color: #ffc5c5;
  }
  nav ul li ul li .toggle {
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
  }
  nav ul ul a, nav ul ul ul a {
    padding: 14px 20px;
    color: #FFF;
    font-size: 17px;
  }
  nav ul li ul li .toggle {
    background-color: #ff7d7d;
  }
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
  }
  nav ul ul a {
    background-color: #fc2727;
  }
  nav ul ul li:hover > ul {
    display: none;
  }
  nav ul li:hover > ul {
    display: none;
  }
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul ul li {
    position: static;
  }
}
@media all and (max-width: 475px) {
  nav ul li {
    display: block;
    width: 94%;
  }
  nav {
    display: block;
  }
  nav .book {
    display: none;
  }
  header section .best {
    font-size: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
